<!DOCTYPE html>
<html>
<head>
  <title>MyProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="fa fa-male"></i>
       <strong>Yatendra Pawar</strong>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><%= link_to "Home", root_path %></li>
          <li role="presentation"><%= link_to "Profile", profile_path %></li>
          <li role="presentation"><%= link_to "Skills", skills_path %></li>
          <li role="presentation"><%= link_to "Experience", experince_path %></li>
          <li role="presentation"><%= link_to "Education", education_path %></li>
          <li role="presentation"><%= link_to "Portfolio", portfolio_path %></li>
          <li role="presentation"><%= link_to "Testimonials", testimonials_path %></li>
          <li role="presentation"><%= link_to "Contact", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
 <%= image_tag("Yatendra.jpg", alt: "Yatendra Image", class: 'center') %>
       <h1 class="text-center"><STRONG>YATENDRA PAWAR</STRONG></h1> 
<div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
<%= yield %>

</body>

</html>
